.profile {
  display: flex;
  max-width: 880px;
  margin: auto;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.profile__avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}
.profile__name-text {
  margin: 0;
}
.profile__occupation {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-top: 16px;
  margin-bottom: 0px;
}
#profile-edit-btn {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}
.profile__btn:hover {
  opacity: 60%;
}
#add-post-btn {
  background: none;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

@media only screen and (min-width: 544px) and (max-width: 1024px) {
  .profile {
    width: 80%;
  }
}
@media only screen and (max-width: 544px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    font-size: 22px;
    max-width: 224px;
    gap: 10px;
  }
  .profile__name-text {
    margin: 0;
  }
  .profile__occupation {
    font-size: 14px;
    margin: 0px;
    text-align: center;
  }
  .profile__edit-btn {
    margin: auto;
    width: 18px;
    height: 18px;
    padding: 0;
  }
  .profile__edit-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile__add-post-btn {
    width: 282px;
    height: 50px;
    margin: auto;
  }
}
